body {
    background: url(../img/1.jpg) no-repeat center top / cover;;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

div, p, a, img, form, button {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.menu {
    display: flex;
    margin-left: 150px;
}

.menu li {
    flex-wrap: wrap;
    font-size: 14px;
    margin-right: 25px;
}

.menu li a {
    padding: 15px 0;
}

.menu li a:hover {
    color: #f8066b;
    border-top: 1px solid #f8066b;
    border-bottom: 1px solid #f80663;
}

.phone {
    font-style: 12px;
    margin-left: auto;
}

.phone:hover {
    font-size: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.offer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 27%;
}

.offer-content h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.offer-content p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 14px;
}

.offer-content a {
    background: #be1540;
    color: #d8d5d5;
    font-weight: 900;
    font-size: 14px;
    display: block;
    width: 218px;
    text-align: center;
    padding: 17px 0;
    transition: all 0.5s ease;
    margin-top: 35px;
}

.main-btn {
    background: #be1540;
    color: #d8d5d5;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    width: 180px;
    padding: 20px 0;
    border: 1px solid transparent;
    border-radius: 45px;
    transition: all 0.5s ease;
}

.main-btn:hover {
    background: #a11236;
    cursor: pointer;
}

.offer-content a:hover {
    background: #702eec;
}

.triangles {
    width: 380px;
    height: 379px;
    margin-left: auto;
    margin-right: 81px;
}

.logo {
    font-size: 32px;
    font-weight: 900;
}

.logo:hover {
    color: #db1748;
    cursor: pointer;
}